body{
    background-color: lightgrey;
    margin: auto;

}
.prodotto {
    display: inline-block;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.sale {
    background-color: green;    
}
