body {
    background-color: lightgrey;
    display: inline-block;
    width: 400px;
}
span {
    width: 20px;
    height: 15px;
    border-width: 2px;
    border-style: inset;
    display: inline-block;
}
